-- MySQL dump 10.13  Distrib 9.0.1, for Win64 (x86_64)
--
-- Host: localhost    Database: healthstack_db
-- ------------------------------------------------------
-- Server version	9.0.1

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!50503 SET NAMES utf8mb4 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0 */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*!40111 SET @OLD_SQL_NOTES=@@SQL_NOTES, SQL_NOTES=0 */;

--
-- Table structure for table `auth_group`
--

DROP TABLE IF EXISTS `auth_group`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `auth_group` (
  `id` int NOT NULL AUTO_INCREMENT,
  `name` varchar(150) NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `name` (`name`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `auth_group`
--

LOCK TABLES `auth_group` WRITE;
/*!40000 ALTER TABLE `auth_group` DISABLE KEYS */;
/*!40000 ALTER TABLE `auth_group` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `auth_group_permissions`
--

DROP TABLE IF EXISTS `auth_group_permissions`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `auth_group_permissions` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `group_id` int NOT NULL,
  `permission_id` int NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `auth_group_permissions_group_id_permission_id_0cd325b0_uniq` (`group_id`,`permission_id`),
  KEY `auth_group_permissio_permission_id_84c5c92e_fk_auth_perm` (`permission_id`),
  CONSTRAINT `auth_group_permissio_permission_id_84c5c92e_fk_auth_perm` FOREIGN KEY (`permission_id`) REFERENCES `auth_permission` (`id`),
  CONSTRAINT `auth_group_permissions_group_id_b120cbf9_fk_auth_group_id` FOREIGN KEY (`group_id`) REFERENCES `auth_group` (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `auth_group_permissions`
--

LOCK TABLES `auth_group_permissions` WRITE;
/*!40000 ALTER TABLE `auth_group_permissions` DISABLE KEYS */;
/*!40000 ALTER TABLE `auth_group_permissions` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `auth_permission`
--

DROP TABLE IF EXISTS `auth_permission`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `auth_permission` (
  `id` int NOT NULL AUTO_INCREMENT,
  `name` varchar(255) NOT NULL,
  `content_type_id` int NOT NULL,
  `codename` varchar(100) NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `auth_permission_content_type_id_codename_01ab375a_uniq` (`content_type_id`,`codename`),
  CONSTRAINT `auth_permission_content_type_id_2f476e4b_fk_django_co` FOREIGN KEY (`content_type_id`) REFERENCES `django_content_type` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=153 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `auth_permission`
--

LOCK TABLES `auth_permission` WRITE;
/*!40000 ALTER TABLE `auth_permission` DISABLE KEYS */;
/*!40000 ALTER TABLE `auth_permission` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `chatapp_chatmessages`
--

DROP TABLE IF EXISTS `chatapp_chatmessages`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `chatapp_chatmessages` (
  `id` int NOT NULL AUTO_INCREMENT,
  `message` longtext NOT NULL,
  `date_created` datetime(6) NOT NULL,
  `user_from_id` bigint NOT NULL,
  `user_to_id` bigint NOT NULL,
  PRIMARY KEY (`id`),
  KEY `ChatApp_chatmessages_user_from_id_f0942e2e_fk_hospital_user_id` (`user_from_id`),
  KEY `ChatApp_chatmessages_user_to_id_ed19b748_fk_hospital_user_id` (`user_to_id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `chatapp_chatmessages`
--

LOCK TABLES `chatapp_chatmessages` WRITE;
/*!40000 ALTER TABLE `chatapp_chatmessages` DISABLE KEYS */;
/*!40000 ALTER TABLE `chatapp_chatmessages` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `django_admin_log`
--

DROP TABLE IF EXISTS `django_admin_log`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `django_admin_log` (
  `id` int NOT NULL AUTO_INCREMENT,
  `action_time` datetime(6) NOT NULL,
  `object_id` longtext,
  `object_repr` varchar(200) NOT NULL,
  `action_flag` smallint unsigned NOT NULL,
  `change_message` longtext NOT NULL,
  `content_type_id` int DEFAULT NULL,
  `user_id` bigint NOT NULL,
  PRIMARY KEY (`id`),
  KEY `django_admin_log_content_type_id_c4bce8eb_fk_django_co` (`content_type_id`),
  KEY `django_admin_log_user_id_c564eba6_fk_hospital_user_id` (`user_id`),
  CONSTRAINT `django_admin_log_content_type_id_c4bce8eb_fk_django_co` FOREIGN KEY (`content_type_id`) REFERENCES `django_content_type` (`id`),
  CONSTRAINT `django_admin_log_chk_1` CHECK ((`action_flag` >= 0))
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `django_admin_log`
--

LOCK TABLES `django_admin_log` WRITE;
/*!40000 ALTER TABLE `django_admin_log` DISABLE KEYS */;
/*!40000 ALTER TABLE `django_admin_log` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `django_content_type`
--

DROP TABLE IF EXISTS `django_content_type`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `django_content_type` (
  `id` int NOT NULL AUTO_INCREMENT,
  `app_label` varchar(100) NOT NULL,
  `model` varchar(100) NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `django_content_type_app_label_model_76bd3d3b_uniq` (`app_label`,`model`)
) ENGINE=InnoDB AUTO_INCREMENT=39 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `django_content_type`
--

LOCK TABLES `django_content_type` WRITE;
/*!40000 ALTER TABLE `django_content_type` DISABLE KEYS */;
/*!40000 ALTER TABLE `django_content_type` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `django_migrations`
--

DROP TABLE IF EXISTS `django_migrations`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `django_migrations` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `app` varchar(255) NOT NULL,
  `name` varchar(255) NOT NULL,
  `applied` datetime(6) NOT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=212 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `django_migrations`
--

LOCK TABLES `django_migrations` WRITE;
/*!40000 ALTER TABLE `django_migrations` DISABLE KEYS */;
/*!40000 ALTER TABLE `django_migrations` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `django_session`
--

DROP TABLE IF EXISTS `django_session`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `django_session` (
  `session_key` varchar(40) NOT NULL,
  `session_data` longtext NOT NULL,
  `expire_date` datetime(6) NOT NULL,
  PRIMARY KEY (`session_key`),
  KEY `django_session_expire_date_a5c62663` (`expire_date`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `django_session`
--

LOCK TABLES `django_session` WRITE;
/*!40000 ALTER TABLE `django_session` DISABLE KEYS */;
INSERT INTO `django_session` VALUES ('msn07p57vocput5jnug2x325wh9f7mnw','e30:1v4cmP:r2koBoAWS6eWLLBVnrj0cpbLLewnFRmMEEMinpu1IYQ','2025-10-03 10:57:49.848270');
/*!40000 ALTER TABLE `django_session` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `doctor_appointment`
--

DROP TABLE IF EXISTS `doctor_appointment`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `doctor_appointment` (
  `id` int NOT NULL AUTO_INCREMENT,
  `date` date DEFAULT NULL,
  `time` varchar(200) DEFAULT NULL,
  `appointment_type` varchar(200) NOT NULL,
  `appointment_status` varchar(200) NOT NULL,
  `serial_number` varchar(200) DEFAULT NULL,
  `payment_status` varchar(200) DEFAULT NULL,
  `transaction_id` varchar(255) DEFAULT NULL,
  `doctor_id` int DEFAULT NULL,
  `patient_id` int DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `doctor_appointment_doctor_id_8c182dc1_fk_doctor_do` (`doctor_id`),
  KEY `doctor_appointment_patient_id_bff365b8_fk_hospital_` (`patient_id`),
  CONSTRAINT `doctor_appointment_doctor_id_8c182dc1_fk_doctor_do` FOREIGN KEY (`doctor_id`) REFERENCES `doctor_doctor_information` (`doctor_id`),
  CONSTRAINT `doctor_appointment_patient_id_bff365b8_fk_hospital_` FOREIGN KEY (`patient_id`) REFERENCES `hospital_patient` (`patient_id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `doctor_appointment`
--

LOCK TABLES `doctor_appointment` WRITE;
/*!40000 ALTER TABLE `doctor_appointment` DISABLE KEYS */;
/*!40000 ALTER TABLE `doctor_appointment` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `doctor_doctor_information`
--

DROP TABLE IF EXISTS `doctor_doctor_information`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `doctor_doctor_information` (
  `doctor_id` int NOT NULL AUTO_INCREMENT,
  `name` varchar(200) DEFAULT NULL,
  `username` varchar(200) DEFAULT NULL,
  `gender` varchar(200) DEFAULT NULL,
  `description` longtext,
  `department` varchar(200) DEFAULT NULL,
  `featured_image` varchar(100) DEFAULT NULL,
  `certificate_image` varchar(100) DEFAULT NULL,
  `email` varchar(200) DEFAULT NULL,
  `phone_number` varchar(200) DEFAULT NULL,
  `visiting_hour` varchar(200) DEFAULT NULL,
  `consultation_fee` int DEFAULT NULL,
  `report_fee` int DEFAULT NULL,
  `dob` varchar(200) DEFAULT NULL,
  `institute` varchar(200) DEFAULT NULL,
  `degree` varchar(200) DEFAULT NULL,
  `completion_year` varchar(200) DEFAULT NULL,
  `work_place` varchar(200) DEFAULT NULL,
  `designation` varchar(200) DEFAULT NULL,
  `start_year` varchar(200) DEFAULT NULL,
  `end_year` varchar(200) DEFAULT NULL,
  `register_status` varchar(200) DEFAULT NULL,
  `department_name_id` int DEFAULT NULL,
  `hospital_name_id` int DEFAULT NULL,
  `specialization_id` int DEFAULT NULL,
  `user_id` bigint DEFAULT NULL,
  `nid` varchar(200) DEFAULT NULL,
  PRIMARY KEY (`doctor_id`),
  UNIQUE KEY `user_id` (`user_id`),
  KEY `doctor_doctor_inform_department_name_id_4c3a0cbf_fk_hospital_` (`department_name_id`),
  KEY `doctor_doctor_inform_hospital_name_id_f804fbe5_fk_hospital_` (`hospital_name_id`),
  KEY `doctor_doctor_inform_specialization_id_6dba33e9_fk_hospital_` (`specialization_id`),
  CONSTRAINT `doctor_doctor_inform_department_name_id_4c3a0cbf_fk_hospital_` FOREIGN KEY (`department_name_id`) REFERENCES `hospital_admin_hospital_department` (`hospital_department_id`),
  CONSTRAINT `doctor_doctor_inform_hospital_name_id_f804fbe5_fk_hospital_` FOREIGN KEY (`hospital_name_id`) REFERENCES `hospital_hospital_information` (`hospital_id`),
  CONSTRAINT `doctor_doctor_inform_specialization_id_6dba33e9_fk_hospital_` FOREIGN KEY (`specialization_id`) REFERENCES `hospital_admin_specialization` (`specialization_id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `doctor_doctor_information`
--

LOCK TABLES `doctor_doctor_information` WRITE;
/*!40000 ALTER TABLE `doctor_doctor_information` DISABLE KEYS */;
/*!40000 ALTER TABLE `doctor_doctor_information` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `doctor_education`
--

DROP TABLE IF EXISTS `doctor_education`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `doctor_education` (
  `education_id` int NOT NULL AUTO_INCREMENT,
  `degree` varchar(200) DEFAULT NULL,
  `institute` varchar(200) DEFAULT NULL,
  `year_of_completion` varchar(200) DEFAULT NULL,
  `doctor_id` int DEFAULT NULL,
  PRIMARY KEY (`education_id`),
  KEY `doctor_education_doctor_id_3601371e_fk_doctor_do` (`doctor_id`),
  CONSTRAINT `doctor_education_doctor_id_3601371e_fk_doctor_do` FOREIGN KEY (`doctor_id`) REFERENCES `doctor_doctor_information` (`doctor_id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `doctor_education`
--

LOCK TABLES `doctor_education` WRITE;
/*!40000 ALTER TABLE `doctor_education` DISABLE KEYS */;
/*!40000 ALTER TABLE `doctor_education` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `doctor_experience`
--

DROP TABLE IF EXISTS `doctor_experience`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `doctor_experience` (
  `experience_id` int NOT NULL AUTO_INCREMENT,
  `work_place_name` varchar(200) DEFAULT NULL,
  `from_year` varchar(200) DEFAULT NULL,
  `to_year` varchar(200) DEFAULT NULL,
  `designation` varchar(200) DEFAULT NULL,
  `doctor_id` int DEFAULT NULL,
  PRIMARY KEY (`experience_id`),
  KEY `doctor_experience_doctor_id_662513fa_fk_doctor_do` (`doctor_id`),
  CONSTRAINT `doctor_experience_doctor_id_662513fa_fk_doctor_do` FOREIGN KEY (`doctor_id`) REFERENCES `doctor_doctor_information` (`doctor_id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `doctor_experience`
--

LOCK TABLES `doctor_experience` WRITE;
/*!40000 ALTER TABLE `doctor_experience` DISABLE KEYS */;
/*!40000 ALTER TABLE `doctor_experience` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `doctor_prescription`
--

DROP TABLE IF EXISTS `doctor_prescription`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `doctor_prescription` (
  `prescription_id` int NOT NULL AUTO_INCREMENT,
  `medicine_name` varchar(200) DEFAULT NULL,
  `quantity` varchar(200) DEFAULT NULL,
  `days` varchar(200) DEFAULT NULL,
  `time` varchar(200) DEFAULT NULL,
  `medicine_description` longtext,
  `test_name` varchar(200) DEFAULT NULL,
  `test_description` longtext,
  `doctor_id` int DEFAULT NULL,
  `patient_id` int DEFAULT NULL,
  `extra_information` longtext,
  PRIMARY KEY (`prescription_id`),
  KEY `doctor_prescription_doctor_id_96631002_fk_doctor_do` (`doctor_id`),
  KEY `doctor_prescription_patient_id_39310b7a_fk_hospital_` (`patient_id`),
  CONSTRAINT `doctor_prescription_doctor_id_96631002_fk_doctor_do` FOREIGN KEY (`doctor_id`) REFERENCES `doctor_doctor_information` (`doctor_id`),
  CONSTRAINT `doctor_prescription_patient_id_39310b7a_fk_hospital_` FOREIGN KEY (`patient_id`) REFERENCES `hospital_patient` (`patient_id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `doctor_prescription`
--

LOCK TABLES `doctor_prescription` WRITE;
/*!40000 ALTER TABLE `doctor_prescription` DISABLE KEYS */;
/*!40000 ALTER TABLE `doctor_prescription` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `doctor_report`
--

DROP TABLE IF EXISTS `doctor_report`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `doctor_report` (
  `report_id` int NOT NULL AUTO_INCREMENT,
  `specimen_id` varchar(200) DEFAULT NULL,
  `specimen_type` varchar(200) DEFAULT NULL,
  `collection_date` varchar(200) DEFAULT NULL,
  `receiving_date` varchar(200) DEFAULT NULL,
  `test_name` varchar(200) DEFAULT NULL,
  `result` varchar(200) DEFAULT NULL,
  `unit` varchar(200) DEFAULT NULL,
  `referred_value` varchar(200) DEFAULT NULL,
  `delivery_date` varchar(200) DEFAULT NULL,
  `doctor_id` int DEFAULT NULL,
  `patient_id` int DEFAULT NULL,
  `other_information` varchar(200) DEFAULT NULL,
  PRIMARY KEY (`report_id`),
  KEY `doctor_report_doctor_id_a4a9ecfa_fk_doctor_do` (`doctor_id`),
  KEY `doctor_report_patient_id_9912cbae_fk_hospital_patient_patient_id` (`patient_id`),
  CONSTRAINT `doctor_report_doctor_id_a4a9ecfa_fk_doctor_do` FOREIGN KEY (`doctor_id`) REFERENCES `doctor_doctor_information` (`doctor_id`),
  CONSTRAINT `doctor_report_patient_id_9912cbae_fk_hospital_patient_patient_id` FOREIGN KEY (`patient_id`) REFERENCES `hospital_patient` (`patient_id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `doctor_report`
--

LOCK TABLES `doctor_report` WRITE;
/*!40000 ALTER TABLE `doctor_report` DISABLE KEYS */;
/*!40000 ALTER TABLE `doctor_report` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `doctor_specimen`
--

DROP TABLE IF EXISTS `doctor_specimen`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `doctor_specimen` (
  `specimen_id` int NOT NULL AUTO_INCREMENT,
  `specimen_type` varchar(200) DEFAULT NULL,
  `collection_date` varchar(200) DEFAULT NULL,
  `receiving_date` varchar(200) DEFAULT NULL,
  `report_id` int DEFAULT NULL,
  PRIMARY KEY (`specimen_id`),
  KEY `doctor_specimen_report_id_9389f2b7_fk_doctor_report_report_id` (`report_id`),
  CONSTRAINT `doctor_specimen_report_id_9389f2b7_fk_doctor_report_report_id` FOREIGN KEY (`report_id`) REFERENCES `doctor_report` (`report_id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `doctor_specimen`
--

LOCK TABLES `doctor_specimen` WRITE;
/*!40000 ALTER TABLE `doctor_specimen` DISABLE KEYS */;
/*!40000 ALTER TABLE `doctor_specimen` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `doctor_test`
--

DROP TABLE IF EXISTS `doctor_test`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `doctor_test` (
  `test_id` int NOT NULL AUTO_INCREMENT,
  `test_name` varchar(200) DEFAULT NULL,
  `result` varchar(200) DEFAULT NULL,
  `unit` varchar(200) DEFAULT NULL,
  `referred_value` varchar(200) DEFAULT NULL,
  `report_id` int DEFAULT NULL,
  PRIMARY KEY (`test_id`),
  KEY `doctor_test_report_id_489de8fc_fk_doctor_report_report_id` (`report_id`),
  CONSTRAINT `doctor_test_report_id_489de8fc_fk_doctor_report_report_id` FOREIGN KEY (`report_id`) REFERENCES `doctor_report` (`report_id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `doctor_test`
--

LOCK TABLES `doctor_test` WRITE;
/*!40000 ALTER TABLE `doctor_test` DISABLE KEYS */;
/*!40000 ALTER TABLE `doctor_test` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `hospital_admin_admin_information`
--

DROP TABLE IF EXISTS `hospital_admin_admin_information`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `hospital_admin_admin_information` (
  `admin_id` int NOT NULL AUTO_INCREMENT,
  `username` varchar(200) DEFAULT NULL,
  `name` varchar(200) DEFAULT NULL,
  `featured_image` varchar(100) DEFAULT NULL,
  `phone_number` bigint DEFAULT NULL,
  `email` varchar(200) DEFAULT NULL,
  `role` varchar(200) DEFAULT NULL,
  `user_id` bigint DEFAULT NULL,
  `hospital_id` int DEFAULT NULL,
  PRIMARY KEY (`admin_id`),
  UNIQUE KEY `user_id` (`user_id`),
  KEY `hospital_admin_admin_hospital_id_eb557045_fk_hospital_` (`hospital_id`),
  CONSTRAINT `hospital_admin_admin_hospital_id_eb557045_fk_hospital_` FOREIGN KEY (`hospital_id`) REFERENCES `hospital_hospital_information` (`hospital_id`),
  CONSTRAINT `hospital_admin_admin_user_id_35384c5d_fk_hospital_` FOREIGN KEY (`user_id`) REFERENCES `hospital_user` (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `hospital_admin_admin_information`
--

LOCK TABLES `hospital_admin_admin_information` WRITE;
/*!40000 ALTER TABLE `hospital_admin_admin_information` DISABLE KEYS */;
/*!40000 ALTER TABLE `hospital_admin_admin_information` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `hospital_admin_clinical_laboratory_technician`
--

DROP TABLE IF EXISTS `hospital_admin_clinical_laboratory_technician`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `hospital_admin_clinical_laboratory_technician` (
  `technician_id` int NOT NULL AUTO_INCREMENT,
  `name` varchar(200) DEFAULT NULL,
  `username` varchar(200) DEFAULT NULL,
  `age` int DEFAULT NULL,
  `email` varchar(200) DEFAULT NULL,
  `phone_number` int DEFAULT NULL,
  `featured_image` varchar(100) DEFAULT NULL,
  `user_id` bigint DEFAULT NULL,
  `hospital_id` int DEFAULT NULL,
  PRIMARY KEY (`technician_id`),
  UNIQUE KEY `user_id` (`user_id`),
  KEY `hospital_admin_clini_hospital_id_cf382890_fk_hospital_` (`hospital_id`),
  CONSTRAINT `hospital_admin_clini_hospital_id_cf382890_fk_hospital_` FOREIGN KEY (`hospital_id`) REFERENCES `hospital_hospital_information` (`hospital_id`),
  CONSTRAINT `hospital_admin_clini_user_id_f134642a_fk_hospital_` FOREIGN KEY (`user_id`) REFERENCES `hospital_user` (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `hospital_admin_clinical_laboratory_technician`
--

LOCK TABLES `hospital_admin_clinical_laboratory_technician` WRITE;
/*!40000 ALTER TABLE `hospital_admin_clinical_laboratory_technician` DISABLE KEYS */;
/*!40000 ALTER TABLE `hospital_admin_clinical_laboratory_technician` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `hospital_admin_hospital_department`
--

DROP TABLE IF EXISTS `hospital_admin_hospital_department`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `hospital_admin_hospital_department` (
  `hospital_department_id` int NOT NULL AUTO_INCREMENT,
  `hospital_department_name` varchar(200) DEFAULT NULL,
  `featured_image` varchar(100) DEFAULT NULL,
  `hospital_id` int DEFAULT NULL,
  `description` longtext,
  `name` varchar(200) NOT NULL,
  PRIMARY KEY (`hospital_department_id`),
  KEY `hospital_admin_hospi_hospital_id_daec555c_fk_hospital_` (`hospital_id`),
  CONSTRAINT `hospital_admin_hospi_hospital_id_daec555c_fk_hospital_` FOREIGN KEY (`hospital_id`) REFERENCES `hospital_hospital_information` (`hospital_id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `hospital_admin_hospital_department`
--

LOCK TABLES `hospital_admin_hospital_department` WRITE;
/*!40000 ALTER TABLE `hospital_admin_hospital_department` DISABLE KEYS */;
/*!40000 ALTER TABLE `hospital_admin_hospital_department` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `hospital_admin_service`
--

DROP TABLE IF EXISTS `hospital_admin_service`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `hospital_admin_service` (
  `service_id` int NOT NULL AUTO_INCREMENT,
  `service_name` varchar(200) DEFAULT NULL,
  `hospital_id` int DEFAULT NULL,
  PRIMARY KEY (`service_id`),
  KEY `hospital_admin_servi_hospital_id_fa133a82_fk_hospital_` (`hospital_id`),
  CONSTRAINT `hospital_admin_servi_hospital_id_fa133a82_fk_hospital_` FOREIGN KEY (`hospital_id`) REFERENCES `hospital_hospital_information` (`hospital_id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `hospital_admin_service`
--

LOCK TABLES `hospital_admin_service` WRITE;
/*!40000 ALTER TABLE `hospital_admin_service` DISABLE KEYS */;
/*!40000 ALTER TABLE `hospital_admin_service` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `hospital_admin_specialization`
--

DROP TABLE IF EXISTS `hospital_admin_specialization`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `hospital_admin_specialization` (
  `specialization_id` int NOT NULL AUTO_INCREMENT,
  `specialization_name` varchar(200) DEFAULT NULL,
  `hospital_id` int DEFAULT NULL,
  PRIMARY KEY (`specialization_id`),
  KEY `hospital_admin_speci_hospital_id_1c4fe65f_fk_hospital_` (`hospital_id`),
  CONSTRAINT `hospital_admin_speci_hospital_id_1c4fe65f_fk_hospital_` FOREIGN KEY (`hospital_id`) REFERENCES `hospital_hospital_information` (`hospital_id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `hospital_admin_specialization`
--

LOCK TABLES `hospital_admin_specialization` WRITE;
/*!40000 ALTER TABLE `hospital_admin_specialization` DISABLE KEYS */;
/*!40000 ALTER TABLE `hospital_admin_specialization` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `hospital_admin_test_information`
--

DROP TABLE IF EXISTS `hospital_admin_test_information`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `hospital_admin_test_information` (
  `test_id` int NOT NULL AUTO_INCREMENT,
  `test_name` varchar(200) DEFAULT NULL,
  `test_price` varchar(200) DEFAULT NULL,
  PRIMARY KEY (`test_id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `hospital_admin_test_information`
--

LOCK TABLES `hospital_admin_test_information` WRITE;
/*!40000 ALTER TABLE `hospital_admin_test_information` DISABLE KEYS */;
/*!40000 ALTER TABLE `hospital_admin_test_information` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `hospital_doctorprescription`
--

DROP TABLE IF EXISTS `hospital_doctorprescription`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `hospital_doctorprescription` (
  `prescription_id` int NOT NULL AUTO_INCREMENT,
  `prescription_text` longtext NOT NULL,
  `extra_information` longtext,
  `created_at` datetime(6) NOT NULL,
  `doctor_id` bigint NOT NULL,
  `patient_id` int NOT NULL,
  PRIMARY KEY (`prescription_id`),
  KEY `hospital_doctorpresc_doctor_id_983aac0e_fk_hospital_` (`doctor_id`),
  KEY `hospital_doctorpresc_patient_id_9568c7b4_fk_hospital_` (`patient_id`),
  CONSTRAINT `hospital_doctorpresc_doctor_id_983aac0e_fk_hospital_` FOREIGN KEY (`doctor_id`) REFERENCES `hospital_user` (`id`),
  CONSTRAINT `hospital_doctorpresc_patient_id_9568c7b4_fk_hospital_` FOREIGN KEY (`patient_id`) REFERENCES `hospital_patient` (`patient_id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `hospital_doctorprescription`
--

LOCK TABLES `hospital_doctorprescription` WRITE;
/*!40000 ALTER TABLE `hospital_doctorprescription` DISABLE KEYS */;
/*!40000 ALTER TABLE `hospital_doctorprescription` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `hospital_hospital_information`
--

DROP TABLE IF EXISTS `hospital_hospital_information`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `hospital_hospital_information` (
  `hospital_id` int NOT NULL AUTO_INCREMENT,
  `name` varchar(200) DEFAULT NULL,
  `address` varchar(200) DEFAULT NULL,
  `featured_image` varchar(100) DEFAULT NULL,
  `description` longtext,
  `email` varchar(200) DEFAULT NULL,
  `phone_number` bigint DEFAULT NULL,
  `hospital_type` varchar(200) NOT NULL,
  `general_bed_no` int DEFAULT NULL,
  `available_icu_no` int DEFAULT NULL,
  `regular_cabin_no` int DEFAULT NULL,
  `emergency_cabin_no` int DEFAULT NULL,
  `vip_cabin_no` int DEFAULT NULL,
  PRIMARY KEY (`hospital_id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `hospital_hospital_information`
--

LOCK TABLES `hospital_hospital_information` WRITE;
/*!40000 ALTER TABLE `hospital_hospital_information` DISABLE KEYS */;
/*!40000 ALTER TABLE `hospital_hospital_information` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `hospital_patient`
--

DROP TABLE IF EXISTS `hospital_patient`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `hospital_patient` (
  `patient_id` int NOT NULL AUTO_INCREMENT,
  `name` varchar(200) DEFAULT NULL,
  `username` varchar(200) DEFAULT NULL,
  `age` int DEFAULT NULL,
  `email` varchar(200) DEFAULT NULL,
  `phone_number` varchar(15) DEFAULT NULL,
  `address` varchar(200) DEFAULT NULL,
  `featured_image` varchar(100) DEFAULT NULL,
  `blood_group` varchar(200) DEFAULT NULL,
  `history` varchar(200) DEFAULT NULL,
  `dob` varchar(200) DEFAULT NULL,
  `nid` varchar(200) DEFAULT NULL,
  `serial_number` varchar(200) DEFAULT NULL,
  `user_id` bigint DEFAULT NULL,
  PRIMARY KEY (`patient_id`),
  UNIQUE KEY `user_id` (`user_id`),
  CONSTRAINT `hospital_patient_user_id_4fe175fe_fk_hospital_user_id` FOREIGN KEY (`user_id`) REFERENCES `hospital_user` (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `hospital_patient`
--

LOCK TABLES `hospital_patient` WRITE;
/*!40000 ALTER TABLE `hospital_patient` DISABLE KEYS */;
/*!40000 ALTER TABLE `hospital_patient` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `hospital_user`
--

DROP TABLE IF EXISTS `hospital_user`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `hospital_user` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `password` varchar(128) NOT NULL,
  `last_login` datetime(6) DEFAULT NULL,
  `is_superuser` tinyint(1) NOT NULL,
  `username` varchar(150) NOT NULL,
  `first_name` varchar(150) NOT NULL,
  `last_name` varchar(150) NOT NULL,
  `email` varchar(254) NOT NULL,
  `is_staff` tinyint(1) NOT NULL,
  `is_active` tinyint(1) NOT NULL,
  `date_joined` datetime(6) NOT NULL,
  `is_patient` tinyint(1) NOT NULL,
  `is_doctor` tinyint(1) NOT NULL,
  `is_hospital_admin` tinyint(1) NOT NULL,
  `is_labworker` tinyint(1) NOT NULL,
  `is_pharmacist` tinyint(1) NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `username` (`username`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `hospital_user`
--

LOCK TABLES `hospital_user` WRITE;
/*!40000 ALTER TABLE `hospital_user` DISABLE KEYS */;
/*!40000 ALTER TABLE `hospital_user` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `hospital_user_groups`
--

DROP TABLE IF EXISTS `hospital_user_groups`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `hospital_user_groups` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `user_id` bigint NOT NULL,
  `group_id` int NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `hospital_user_groups_user_id_group_id_f4238297_uniq` (`user_id`,`group_id`),
  KEY `hospital_user_groups_group_id_61152b00_fk_auth_group_id` (`group_id`),
  CONSTRAINT `hospital_user_groups_group_id_61152b00_fk_auth_group_id` FOREIGN KEY (`group_id`) REFERENCES `auth_group` (`id`),
  CONSTRAINT `hospital_user_groups_user_id_060f2232_fk_hospital_user_id` FOREIGN KEY (`user_id`) REFERENCES `hospital_user` (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `hospital_user_groups`
--

LOCK TABLES `hospital_user_groups` WRITE;
/*!40000 ALTER TABLE `hospital_user_groups` DISABLE KEYS */;
/*!40000 ALTER TABLE `hospital_user_groups` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `hospital_user_user_permissions`
--

DROP TABLE IF EXISTS `hospital_user_user_permissions`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `hospital_user_user_permissions` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `user_id` bigint NOT NULL,
  `permission_id` int NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `hospital_user_user_permi_user_id_permission_id_a651a6da_uniq` (`user_id`,`permission_id`),
  KEY `hospital_user_user_p_permission_id_cae66667_fk_auth_perm` (`permission_id`),
  CONSTRAINT `hospital_user_user_p_permission_id_cae66667_fk_auth_perm` FOREIGN KEY (`permission_id`) REFERENCES `auth_permission` (`id`),
  CONSTRAINT `hospital_user_user_p_user_id_aa5909bd_fk_hospital_` FOREIGN KEY (`user_id`) REFERENCES `hospital_user` (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `hospital_user_user_permissions`
--

LOCK TABLES `hospital_user_user_permissions` WRITE;
/*!40000 ALTER TABLE `hospital_user_user_permissions` DISABLE KEYS */;
/*!40000 ALTER TABLE `hospital_user_user_permissions` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `pharmacy_cart`
--

DROP TABLE IF EXISTS `pharmacy_cart`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `pharmacy_cart` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `quantity` int NOT NULL,
  `purchased` tinyint(1) NOT NULL,
  `created` datetime(6) NOT NULL,
  `updated` datetime(6) NOT NULL,
  `item_id` int NOT NULL,
  `user_id` bigint NOT NULL,
  PRIMARY KEY (`id`),
  KEY `pharmacy_cart_item_id_f269a285_fk_pharmacy_` (`item_id`),
  KEY `pharmacy_cart_user_id_00fe4701_fk_hospital_user_id` (`user_id`),
  CONSTRAINT `pharmacy_cart_item_id_f269a285_fk_pharmacy_` FOREIGN KEY (`item_id`) REFERENCES `pharmacy_medicine` (`serial_number`),
  CONSTRAINT `pharmacy_cart_user_id_00fe4701_fk_hospital_user_id` FOREIGN KEY (`user_id`) REFERENCES `hospital_user` (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `pharmacy_cart`
--

LOCK TABLES `pharmacy_cart` WRITE;
/*!40000 ALTER TABLE `pharmacy_cart` DISABLE KEYS */;
/*!40000 ALTER TABLE `pharmacy_cart` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `pharmacy_medicine`
--

DROP TABLE IF EXISTS `pharmacy_medicine`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `pharmacy_medicine` (
  `serial_number` int NOT NULL AUTO_INCREMENT,
  `medicine_id` varchar(200) DEFAULT NULL,
  `name` varchar(200) DEFAULT NULL,
  `weight` varchar(200) DEFAULT NULL,
  `quantity` int DEFAULT NULL,
  `featured_image` varchar(100) DEFAULT NULL,
  `description` longtext,
  `medicine_type` varchar(200) DEFAULT NULL,
  `medicine_category` varchar(200) DEFAULT NULL,
  `price` int DEFAULT NULL,
  `stock_quantity` int DEFAULT NULL,
  `Prescription_reqiuired` varchar(200) DEFAULT NULL,
  PRIMARY KEY (`serial_number`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `pharmacy_medicine`
--

LOCK TABLES `pharmacy_medicine` WRITE;
/*!40000 ALTER TABLE `pharmacy_medicine` DISABLE KEYS */;
/*!40000 ALTER TABLE `pharmacy_medicine` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `pharmacy_order`
--

DROP TABLE IF EXISTS `pharmacy_order`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `pharmacy_order` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `ordered` tinyint(1) NOT NULL,
  `created` datetime(6) NOT NULL,
  `trans_ID` varchar(200) DEFAULT NULL,
  `user_id` bigint NOT NULL,
  `payment_status` varchar(200) DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `pharmacy_order_user_id_51cae9d3_fk_hospital_user_id` (`user_id`),
  CONSTRAINT `pharmacy_order_user_id_51cae9d3_fk_hospital_user_id` FOREIGN KEY (`user_id`) REFERENCES `hospital_user` (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `pharmacy_order`
--

LOCK TABLES `pharmacy_order` WRITE;
/*!40000 ALTER TABLE `pharmacy_order` DISABLE KEYS */;
/*!40000 ALTER TABLE `pharmacy_order` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `pharmacy_order_orderitems`
--

DROP TABLE IF EXISTS `pharmacy_order_orderitems`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `pharmacy_order_orderitems` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `order_id` bigint NOT NULL,
  `cart_id` bigint NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `pharmacy_order_orderitems_order_id_cart_id_8a196be8_uniq` (`order_id`,`cart_id`),
  KEY `pharmacy_order_orderitems_cart_id_4fa4bd10_fk_pharmacy_cart_id` (`cart_id`),
  CONSTRAINT `pharmacy_order_orderitems_cart_id_4fa4bd10_fk_pharmacy_cart_id` FOREIGN KEY (`cart_id`) REFERENCES `pharmacy_cart` (`id`),
  CONSTRAINT `pharmacy_order_orderitems_order_id_4d9d0b1a_fk_pharmacy_order_id` FOREIGN KEY (`order_id`) REFERENCES `pharmacy_order` (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `pharmacy_order_orderitems`
--

LOCK TABLES `pharmacy_order_orderitems` WRITE;
/*!40000 ALTER TABLE `pharmacy_order_orderitems` DISABLE KEYS */;
/*!40000 ALTER TABLE `pharmacy_order_orderitems` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `pharmacy_pharmacist`
--

DROP TABLE IF EXISTS `pharmacy_pharmacist`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `pharmacy_pharmacist` (
  `pharmacist_id` int NOT NULL AUTO_INCREMENT,
  `name` varchar(200) DEFAULT NULL,
  `username` varchar(200) DEFAULT NULL,
  `degree` varchar(200) DEFAULT NULL,
  `featured_image` varchar(100) DEFAULT NULL,
  `email` varchar(200) DEFAULT NULL,
  `phone_number` int DEFAULT NULL,
  `age` int DEFAULT NULL,
  `user_id` bigint DEFAULT NULL,
  PRIMARY KEY (`pharmacist_id`),
  UNIQUE KEY `user_id` (`user_id`),
  CONSTRAINT `pharmacy_pharmacist_user_id_7b9295d2_fk_hospital_user_id` FOREIGN KEY (`user_id`) REFERENCES `hospital_user` (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `pharmacy_pharmacist`
--

LOCK TABLES `pharmacy_pharmacist` WRITE;
/*!40000 ALTER TABLE `pharmacy_pharmacist` DISABLE KEYS */;
/*!40000 ALTER TABLE `pharmacy_pharmacist` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `sslcommerz_payment`
--

DROP TABLE IF EXISTS `sslcommerz_payment`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `sslcommerz_payment` (
  `payment_id` int NOT NULL AUTO_INCREMENT,
  `invoice_number` varchar(255) DEFAULT NULL,
  `payment_type` varchar(200) DEFAULT NULL,
  `name` varchar(255) DEFAULT NULL,
  `email` varchar(255) DEFAULT NULL,
  `phone` varchar(255) DEFAULT NULL,
  `address` varchar(255) DEFAULT NULL,
  `city` varchar(255) DEFAULT NULL,
  `country` varchar(255) DEFAULT NULL,
  `transaction_id` varchar(255) DEFAULT NULL,
  `val_transaction_id` varchar(255) DEFAULT NULL,
  `currency_amount` varchar(255) DEFAULT NULL,
  `consulation_fee` varchar(255) DEFAULT NULL,
  `report_fee` varchar(255) DEFAULT NULL,
  `card_type` varchar(255) DEFAULT NULL,
  `card_no` varchar(255) DEFAULT NULL,
  `bank_transaction_id` varchar(255) DEFAULT NULL,
  `status` varchar(255) DEFAULT NULL,
  `transaction_date` varchar(255) DEFAULT NULL,
  `currency` varchar(255) DEFAULT NULL,
  `card_issuer` varchar(255) DEFAULT NULL,
  `card_brand` varchar(255) DEFAULT NULL,
  `appointment_id` int DEFAULT NULL,
  `patient_id` int DEFAULT NULL,
  `order_id` bigint DEFAULT NULL,
  `prescription_id` int DEFAULT NULL,
  PRIMARY KEY (`payment_id`),
  KEY `sslcommerz_payment_appointment_id_769a109d_fk_doctor_ap` (`appointment_id`),
  KEY `sslcommerz_payment_patient_id_bf487732_fk_hospital_` (`patient_id`),
  KEY `sslcommerz_payment_order_id_f4496a96_fk_pharmacy_order_id` (`order_id`),
  KEY `sslcommerz_payment_prescription_id_cff22247_fk_doctor_pr` (`prescription_id`),
  CONSTRAINT `sslcommerz_payment_appointment_id_769a109d_fk_doctor_ap` FOREIGN KEY (`appointment_id`) REFERENCES `doctor_appointment` (`id`),
  CONSTRAINT `sslcommerz_payment_order_id_f4496a96_fk_pharmacy_order_id` FOREIGN KEY (`order_id`) REFERENCES `pharmacy_order` (`id`),
  CONSTRAINT `sslcommerz_payment_patient_id_bf487732_fk_hospital_` FOREIGN KEY (`patient_id`) REFERENCES `hospital_patient` (`patient_id`),
  CONSTRAINT `sslcommerz_payment_prescription_id_cff22247_fk_doctor_pr` FOREIGN KEY (`prescription_id`) REFERENCES `doctor_prescription` (`prescription_id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `sslcommerz_payment`
--

LOCK TABLES `sslcommerz_payment` WRITE;
/*!40000 ALTER TABLE `sslcommerz_payment` DISABLE KEYS */;
/*!40000 ALTER TABLE `sslcommerz_payment` ENABLE KEYS */;
UNLOCK TABLES;
/*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */;

/*!40101 SET SQL_MODE=@OLD_SQL_MODE */;
/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;
/*!40014 SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS */;
/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
/*!40111 SET SQL_NOTES=@OLD_SQL_NOTES */;

-- Dump completed on 2025-10-03 22:04:52
